@{
    ViewBag.Title = "Ricerca";
}
<h2 class="visually-hidden">@ViewBag.Title.</h2>



    <div class="container-fluid d-flex justify-content-start align-items-center ms-5">
        <div class="searchSection">
            <form class="" role="search">
                <h2 class="fs-1">Cerca il tuo amico a 4 zampe</h2>
                <div class="d-flex w-75">
                <input class="form-control me-2" id="SearchMC" type="search" placeholder="Numero microchip" aria-label="Search">
                <btn class="button bgprimary" id="GetAnimalByMC" type="submit">Cerca</btn>
                </div>
            </form>
        </div>
    </div>

    <div class="animalContainer ms-5">
        <div id="showInfo" class="my-5 mx-3">
            

        </div>
    </div>


<script type="text/javascript">

    $(document).ready(function () {

        $("#GetAnimalByMC").click(function () {
            var MC = $('#SearchMC').val();
            $('#showInfo').empty();
               
            $.ajax({
                method: 'GET',
                data: { 'MC': MC },
                url: '/Home/GetAnimalByMC',
                success: function (a) {
                    if (a.Nome == null) {
                        $("#showInfo").append("<div class=\"alert alert-warning mt-2\" style=\"width:200px\">Non è stato rilevato alcun Microchip</div>"
                        )
                    } else {
                        $("#showInfo").append("<div class=\"animalCard\" >" +
                            "<a href=\"../Visite/Index/" + a.IdAnimale + "\">" +
                            "<div class=\"cardBody\">" +
                            "<img class=\"cardIcon\" src=\"/Content/Assets/Img/pet-friendly.png\" style=\"width:100px\" />"+
                            "<h5 class=\"card-title\">" + a.Nome + "</h5>" +
                            "<p class=\"card-text\">Razza: " + a.Razza + "</p>" +
                            "<p class=\"card-text\">Colore mantello: " + a.Colore + "</p>" +
                            
                            "</div>" +
                            "<img src=\"/Content/Assets/img/" + a.Foto + "\" class=\"card-img-bottom\">" +
                            "</a></div>"
                        );

                    }

                   
                }
            })
        })

    })

</script>

