@{
    ViewBag.Title = "Home Page";
}

<div class="homePage">
    <div class="servBanner">

        <h1 class="text-center my-5 fs-1">I nostri servizi</h1>
        <div class="d-flex justify-content-around mb-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="services hex mx-4">
                    <img class="servLogo" src="~/Content/Assets/Img/veterinarian.png" style="width:150px" />
                </div>
                <div class="txtServ">
                    <p>Assistenza <br /> specialistica</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="services hex mx-4">
                    <img class="servLogo" src="~/Content/Assets/Img/stethoscope.png" style="width:150px" />
                </div>
                <div class="txtServ">
                    <p>Check up <br /> periodici</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="services hex mx-4">
                    <img class="servLogo" src="~/Content/Assets/Img/dog.png" style="width:150px" />
                </div>
                <div class="txtServ">
                    <p>Radiografie <br />ossea </p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="services hex mx-4">
                    <img class="servLogo" src="~/Content/Assets/Img/medicine.png" style="width:150px" />
                </div>
                <div class="txtServ">
                    <p>Assistenza <br /> farmaceutica</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="services hex mx-4">
                    <img class="servLogo" src="~/Content/Assets/Img/video-call.png" style="width:150px" />
                </div>
                <div class="txtServ">
                    <p>Consulto veterinario <br />Online 24/7 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="banner bgsecondary d-flex justify-content-around align-items-center">
        <h1 class="text-center text-white">
            Se si guarda negli occhi un animale,<br /> tutti i sistemi filosofici del mondo crollano.<br /><span class="fst-italic fs-4">- Luigi Pirandello</span>
        </h1>
    </div>
    <div class="servBanner">

        <h1 class="text-center pt-3 my-5 fs-1">Contattaci subito</h1>
        <div class="d-flex justify-content-around mb-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="services hex mx-5">
                    <img class="servLogo" src="~/Content/Assets/Img/customer-service.png" style="width:150px" />
                </div>
                <div class="txtServ">
                    <p>Chiamaci al numero <br /> +39 3394857529 </p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="services hex mx-5">
                    <img class="servLogo" src="~/Content/Assets/Img/letter.png" style="width:150px" />
                </div>
                <div class="txtServ">
                    <p>Invia un Email a <br /> greenshelter@info.com</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="services hex mx-5">
                    <img class="servLogo" src="~/Content/Assets/Img/hospital.png" style="width:150px" />
                </div>
                <div class="txtServ">
                    <p>Ci trovi in <br />via Roma 10, Milano </p>
                </div>
            </div>
            
        </div>
    </div>
</div>