@model IEnumerable<BuildWeek_Gruppo3_Clinica.Models.Tipologia>



@{
    ViewBag.Title = "RicoveriAttivi";
}
<div class="container">
    <h2 class="fs-1">Ricoveri Attivi</h2>
</div>
<container class="container">
    <div id="info-box" class="d-none">
        <div class="container">
            <div class="d-flex row">
                <div class="animalDetails col-5" id="cardAnimal">

                </div>
                <div class="animalCheck col-5 fs-5">
                    <h2>Visite</h2>
                    <table class="table" id="visite">
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</container>

<div class="container">
    <div id="Query">
        @foreach (var item in Model)
        {
            <p class="mx-2 mb-3 fs-5">@Html.DisplayFor(modelItem => item.Animale) <input type="checkbox" class="CheckValue" name="@item.Animale" value="@item.idTipo" /></p>
        }
    </div>

    <btn id="SearchType" class="button bgprimary mb-5 mt-5">Cerca Animale Ricoverato</btn>

    <div id="ResultSearch" class="mt-5 mb-5 d-flex gap-2"></div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SearchType").click(function () {
            $("#ResultSearch").empty();
            var mycheck = new Array();
            $(".CheckValue:checked").each(function () {
                mycheck.push($(this).val());
            });
            $.ajax({
                method: 'POST',
                data: { 'selezione': mycheck },
                url: 'GetAnimalByType',
                success: function (a) {
                    if (a.length == 0) {
                        $("#ResultSearch").append("<div class=\"alert alert-warning\">Nessun ricovero attivo </div>")
                    }
                    $.each(a, function (index, valore) {


                            $("#ResultSearch").append("<div class=\"animalCard\" >" +
                                "<a class= \"mainbody\"href=\"javascript:;\" data-id=\"" + valore.IdAnimale + "\">" +
                                "<div class=\"cardBody\">" +
                                "<img class=\"cardIcon\" src=\"/Content/Assets/Img/ricovero.png\" style=\"width:80px\" />" +
                                "<h5 class=\"card-title\">" + valore.Nome + "</h5>" +
                                "<p class=\"card-text\">Razza: " + valore.Razza + "</p>" +
                                "<p class=\"card-text\">Ricoverato dal: " + valore.DataNascita + " (" + valore.Giorni + " Giorni)</p>" +
                                "</div>" +
                                "<img src=\"/Content/Assets/img/" + valore.Foto + "\" class=\"card-img-bottom\">" +
                                "</a></div>"
                            );

                        })

                    $(".mainbody").click(function () {
                        $("#visite").empty();
                        $("#picture").empty();
                        $("#cardAnimal").empty();
                        var id = $(this).data("id");
                        $.ajax({
                            method: 'POST',
                            data: { 'id': id },
                            url: 'GetDetails',
                            success: function (b) {                             
                                $("#info-box").toggleClass("d-none");
                                var pic;
                                var Nome;
                                var Colore;
                                var Razza;
                                var MC;
                                var Animale;
                                var Ritrovato;
                                $.each(b, function (index, valore) {
                                    pic = valore.Foto;
                                    Nome = valore.Nome;
                                    Colore = valore.Colore;
                                    Razza = valore.Razza;
                                    Animale = valore.Animale;
                                    MC = valore.NrMicrochip;
                                    Ritrovato = valore.DataNascita
                                    if (index == 0) {
                                        $("#visite").append("<tr><th>Paziente</th><th>Data Visita</th><th>Referto</th><th>Diagnosi</th></tr>" +
                                            "<tr><td>" + valore.Nome + "</td><td>" + valore.Data + "</td><td>" + valore.Referto +
                                            "</td><td>" + valore.Diagnosi + "</td></tr>")
                                    } else {
                                        $("#visite").append("<tr><td>" + valore.Nome + "</td><td>" + valore.Data + "</td><td>" + valore.Referto +
                                            "</td><td>" + valore.Diagnosi + "</td></tr>")};                               
                                })     
                                
                                $("#cardAnimal").append("<h2 class=\"ms-5\">Dettagli Animale</h2>" +
                                    "<div class=\"d-flex idAnimal gBorder overflow-hidden fs-5 mx-auto mb-5\">" +
                                    "<div class=\"animalPic\"><img src=\"/Content/Assets/img/" + pic + "\"></div>" +
                                    "<dl class=\"dl-horizontal d-flex flex-wrap fs-5 px-4 pt-3 m-0\"><div class=\"me-5\">" +
                                    "<dt>Nome: </dt><dd>" + Nome + "</dd>" +
                                    "<dt>Razza: </dt><dd>" + Animale + " " + Razza + "</dd>" +
                                    "<dt>Mantello: </dt><dd>" + Colore + "</dd>" +
                                    "<dt>Ritrovato il: </dt><dd>" + Ritrovato + "</dd>" +
                                    "<dt>Microchip nr: </dt><dd>" + MC + "</dd></div></dl></div>"
                                    );
                                
                              }
                            })
                        })
                }
            })
        })

    })
</script>

   


