body {
    width: 100vw;
    height: fit-content;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x:hidden
}

.img-scale:hover {
    transition: ease-in-out 0.3s;
    transform: scale(2.5)
}

.navbar {
    background-color: #ACCBE1;
    --bs-navbar-active-color: #f8f9fa;
}
.active {
    background-color: #7C98B3;
}

a {
    text-decoration: none;
}

.nav-item{
    margin-inline: 30px
}

.homePage {
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

input,
select,
textarea {
    max-width: 500px;
}

.btn{
    letter-spacing: 3px;
}
.slider {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #109648;
}

    .slider .clip {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }

        .slider .clip.clip1 {
            
            background-image: url(./Assets/Img/SiameseBanner.jpg);
            background-repeat: no-repeat;
            background-size: 110%;
            background-position-x:-80px;
            
            clip-path: polygon(0 0, 56% 0, 33% 100%, 0% 100%);
        }

        .slider .clip.clip2 {
            background-image: url(./Assets/Img/Goldenbanner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            clip-path: polygon(45% 0, 90% 0, 60% 100%, 26% 100%);
        }

        .slider .clip.clip3 {
            background-image: url(./Assets/Img/araBanner.jpg);
            
            background-repeat: no-repeat;
            background-size: 120%;
            
            clip-path: polygon(80% 0, 100% 0%, 100% 100%,60% 100%);
        }

    .slider:hover .clip {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    .slider .clip:hover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .slider .clip .content {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 70%;
        padding: 20px;
        background-color: #fff;
        opacity: 0;
        transition: 0.5s;
    }

    .slider .clip:hover .content {
        bottom: 0;
        opacity: 1;
    }
.sliderContainer{
    position:relative;
}
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 500px 150px 0 0;
    border-color: #109648 transparent transparent transparent;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    
}
.bgprimary {
    background-color: #109648
}
.bgsecondary {
    background-color:#18a999 
}
.services {
    
    margin-top: 100px;
    background-color: #109648
}
.hex {
    
    width: 260px;
    height: 130px;
    background-color: #109648;
    border-color: #109648;
    position: relative;
    display: inline-block;
}

    .hex:before {
        content: " ";
        width: 0;
        height: 0;
        border-bottom: 75px solid;
        border-color: inherit;
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
        position: absolute;
        top: -75px;
    }

    .hex:after {
        content: "";
        width: 0;
        position: absolute;
        bottom: -75px;
        border-top: 75px solid;
        border-color: inherit;
        border-left: 130px solid transparent;
        border-right: 130px solid transparent;
    }
    .servLogo{
        position:absolute;
        z-index:1;
        left:23%;
        top:-20px
    }
    .txtServ{
        margin-top:120px;
        font-size:1.4rem;
        text-align:center
        
    }
    .banner{
        height:200px;
        width:100%
    }
    footer {
        border-top:20px solid #18a999;
        height:220px
    }
    p{
        margin-bottom: 2px
    }
.gBorder {
    border: 7px solid #109648;
    border-radius: 20px;
}
.animalCard {
    width: 500px;
    border: 7px solid #109648;
    border-radius: 20px;
    box-sizing: border-box;
    overflow:hidden
}
.animalCard img {
    width:100%
}
.cardBody {
    padding:25px 25px 0 25px;
    color:black;
    font-size:1.3rem;
    margin-bottom:15px;
    position:relative;
}
.cardBody h5 {
    font-size:2rem
}
.animalContainer {
        min-height: 100%;
        display: flex;
    }
.button {
    width:100px;
    padding:10px;
    border-radius:5px;
    color:aliceblue;
    text-align:center;
    border:0
     
}
.pad{
    height:34px
}
#showInfo {
    position:relative
}
.cardIcon {
    position:absolute;
    top:15px;
    right:15px;
}
.link {
    color: #109648
}
.createPaziente a {
    color: #109648;
    font-size:1.2rem;
    
}
