body {
    width:100vw;
    height:100vh;
}

.img-scale:hover {
    transition: ease-in-out 0.3s;
    transform: scale(2.5)
}

.navbar {
    background-color: #ACCBE1;
    --bs-navbar-active-color: #f8f9fa;
}
.active {
    background-color: #7C98B3;
}

a {
    text-decoration: none;
}

.nav-item{
    margin-inline: 30px
}

.homePage {
    background-image: url('assets/img/sfondo-cane.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 34rem;
    height: 100vh;
    width: 100%;
    vertical-align: central;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column
}

input,
select,
textarea {
    max-width: 500px;
}

.btn{
    letter-spacing: 3px;
}
.main {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: #222;
}

    .main .clip {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }

        .main .clip.clip1 {
            background-image: url(./Assets/Img/Siam);
            background-repeat: no-repeat;
            background-size: cover;
            clip-path: polygon(0 0, 54% 0, 21% 100%, 0% 100%);
        }

        .main .clip.clip2 {
            background-image: url(bg-2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            clip-path: polygon(41% 0, 100% 0, 46% 100%, 19% 100%);
        }

        .main .clip.clip3 {
            background-image: url(bg-3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 36% 100%);
        }

    .main:hover .clip {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }

    .main .clip:hover {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .main .clip .content {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 70%;
        padding: 20px;
        background-color: #fff;
        opacity: 0;
        transition: 0.5s;
    }

    .main .clip:hover .content {
        bottom: 0;
        opacity: 1;
    }
